<h2>Update Course @Model.Name</h2>

<form action='/courses/@Model.Id' method='post'>
  <div class="form-group">
    <label for="newName">Update Name</label>
    <input name="newName" class="form-control" type="text" />
  </div>
  <div class="form-group">
    <label for="newNumber">Update Course Number</label>
    <input name="newNumber" class="form-control" type="text" />
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>

<h4><a href="/courses">Back to courses</a></h4>
